PORT=5000
JWT_SECRET=DeMxbbKbJw08ZNpgXoxJzvmyydDKgVnTynQbR9udMaO6f6sYBsv379Oj8s4rrJOFZG5Hs7wxWDtjN8nCqMOqAA==
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12

DB_USER=postgres
DB_HOST=localhost
DB_NAME=tenant_score
DB_PASSWORD=watfatima666
DB_PORT=5432
